.cloudsort-loader {
  height: 22px;
  width: 22px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: cloudsort-rotation 0.5s linear infinite;
}
@keyframes cloudsort-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}